body {
    font-family: Arial;
}

.datepicker-container, .clocks-container  {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 20px;
}

.clocks-container > div {
    margin: 10px 20px;
}

.datepicker-info {
    margin-left: 30px;
}

.description-info {
    text-align: center;
    width: 90%;
    margin: 5px auto;
}

.status {
    color: #1c94c4;
    margin-top: 5px;
    font-weight: 600;
}